/*------------------------------------*
   $BASE STYLES
*------------------------------------*/
body {
  background-color: #fff;
  font-family: "franklin-gothic-urw-cond", Helvetica, sans-serif;
  padding: 0px;
  padding: 0px; }

.js-media-query {
  height: 1px;
  width: 1px;
  display: none;
  float: left; }
  @media only screen and (max-width: 1024px) {
    .js-media-query {
      display: block;
      float: none; } }

/*------------------------------------*
   $FOUNDATION OVERRIDES
*------------------------------------*/
.row {
  max-width: 75em; }

@media only screen and (max-width: 768px) {
  .full-width-768--push {
    width: 100%;
    left: 0; } }

@media only screen and (max-width: 768px) {
  .full-width-768--pull {
    width: 100%;
    right: 0; } }

/*------------------------------------*
   $FEATURE STORY MIXINS
*------------------------------------*/
.nf-feature .category-feature-subhead {
  color: #A42F26; }
.nf-feature .category-feature-headline {
  color: #A42F26; }
.nf-feature a.category-shop-btn {
  color: #A42F26;
  border-color: #A42F26; }
.nf-feature .category-feature-image {
  background-image: url(../images/category-story-test.jpg); }

.green-feature .category-feature-subhead {
  color: #8bac96; }
.green-feature .category-feature-headline {
  color: #8bac96; }
.green-feature a.category-shop-btn {
  color: #8bac96;
  border-color: #8bac96; }
.green-feature .category-feature-image {
  background-image: url(../images/category-story-green.jpg); }

.leila-feature .category-feature-subhead {
  color: #f45200; }
.leila-feature .category-feature-headline {
  color: #f45200; }
.leila-feature a.category-shop-btn {
  color: #f45200;
  border-color: #f45200; }
.leila-feature .category-feature-image {
  background-image: url(../images/category-story-leila.jpg); }

/*------------------------------------*
   $CATEGORY HERO
*------------------------------------*/
.category-row-full-width {
  max-width: 100%; }

.category-full-width {
  width: 100%;
  position: relative; }

.category-hero {
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
  background-image: url(../images/category-hero-test.jpg);
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  height: 500px;
  z-index: 1;
  width: 100%; }
  @media only screen and (max-width: 768px) {
    .category-hero {
      position: relative;
      height: 350px; } }

.category-hero-container {
  overflow: hidden; }
  .category-hero-container.shrink .category-hero {
    transform: scale(1.5);
    -moz-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    -o-transform: scale(1.5);
    -ms-transform: scale(1.5);
    /* IE 9 */ }
  @media only screen and (min-width: 769px) {
    .category-hero-container.shrink .category-hero-text-container {
      padding-bottom: 15px;
      height: 250px; } }

.category-hero-text-container {
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  width: 100%;
  height: 500px;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 2;
  display: flex;
  align-items: center;
  overflow: hidden;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s; }
  @media only screen and (max-width: 768px) {
    .category-hero-text-container {
      background-color: #000;
      position: relative;
      height: inherit; }
      .category-hero-text-container .category-hero-headline {
        font-size: 48px;
        line-height: 1em;
        padding: 15px 0px; }
      .category-hero-text-container .category-hero-subhead {
        font-size: 18px;
        margin-top: -5px; } }

.category-hero-row {
  max-width: 1400px; }

.category-hero-headline {
  color: #000;
  font-family: "franklin-gothic-urw-cond", Helvetica, sans-serif;
  font-size: 64px;
  font-weight: 800;
  line-height: 1em;
  text-align: center;
  width: 100%;
  text-transform: uppercase;
  letter-spacing: 1px; }

.category-hero-subhead {
  color: #333;
  font-size: 24px;
  line-height: 1em;
  text-align: center;
  text-transform: uppercase; }

.category-hero-white {
  color: #fff;
  text-shadow: 1px 1px #000; }

.category-hero-button-container {
  margin-top: 15px; }
  @media only screen and (max-width: 768px) {
    .category-hero-button-container {
      margin-top: 30px; } }

a.category-shop-btn {
  color: #fff;
  font-family: "franklin-gothic-urw-cond", Helvetica, sans-serif;
  text-transform: uppercase;
  font-weight: 800;
  border: 2px solid #fff;
  background: rgba(0, 0, 0, 0.4);
  box-shadow: none; }
  a.category-shop-btn:hover {
    background-color: #000;
    border: 2px solid #000; }
  a.category-shop-btn.learn-btn {
    background-color: #b90000;
    border: 1px solid #b90000; }
    a.category-shop-btn.learn-btn:hover {
      background-color: #000;
      border: 1px solid #000; }

/*------------------------------------*
   $CATEGORY SUBNAV
*------------------------------------*/
.category-subnav-container {
  padding-top: 15px; }
  @media only screen and (max-width: 768px) {
    .category-subnav-container {
      padding-top: 15px; } }

.category-subnav {
  height: 50px;
  position: relative;
  background: none;
  transition: all 0.25s ease; }
  .category-subnav nav {
    height: 100%;
    z-index: 100;
    width: 66%;
    margin-left: 17%;
    text-align: center; }
    @media only screen and (max-width: 1280px) {
      .category-subnav nav {
        margin-left: 5%;
        width: 90%; } }
    @media only screen and (max-width: 1024px) {
      .category-subnav nav {
        margin-left: 0;
        width: 100%; } }
    .category-subnav nav ul {
      display: none;
      list-style-type: none;
      margin: 0;
      padding: 0;
      position: relative;
      z-index: 100; }
      .category-subnav nav ul li {
        background: #fff;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        display: block;
        padding: 0.5em;
        text-align: center;
        color: #000;
        transition: all 0.25s ease; }
        .category-subnav nav ul li:first-of-type {
          border-top: 1px solid rgba(0, 0, 0, 0.1); }
        .category-subnav nav ul li a {
          color: inherit;
          cursor: pointer;
          font-family: "franklin-gothic-urw-cond", Helvetica, sans-serif;
          font-size: 0.8125em;
          font-weight: 700;
          text-decoration: none;
          text-transform: uppercase; }
        .category-subnav nav ul li:hover, .category-subnav nav ul li:active, .category-subnav nav ul li:focus, .category-subnav nav ul li.btn-find-shop {
          background: #b90000;
          color: #fff; }
          .category-subnav nav ul li:hover a, .category-subnav nav ul li:active a, .category-subnav nav ul li:focus a, .category-subnav nav ul li.btn-find-shop a {
            color: inherit; }

@media screen and (min-width: 1025px) {
  .category-subnav {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc; }
    .category-subnav nav ul {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%; }
      .category-subnav nav ul li {
        border-bottom: none;
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: auto; }
        .category-subnav nav ul li:first-of-type {
          border-top: none; } }
.category-subnav-scrolled {
  background: white;
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  z-index: 999; }

.mobile-btn {
  width: 95%;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.4);
  display: none;
  font-weight: 700;
  font-size: 1em;
  text-align: center;
  background: #b90000;
  padding: 0.5em 1em;
  position: relative;
  color: #fff;
  text-transform: uppercase;
  margin-top: 4px; }
  .mobile-btn a {
    color: inherit; }
  .mobile-btn img {
    display: inline-block;
    width: 19px;
    margin-left: 10px;
    margin-top: -1px; }
  @media only screen and (max-width: 1024px) {
    .mobile-btn {
      display: inline-block;
      width: 95%; } }

/*------------------------------------*
   $PRODUCT GRID
*------------------------------------*/
.category-product-container {
  padding: 25px 15px; }

li.shop-all-item {
  padding-top: 5%; }
  @media only screen and (max-width: 768px) {
    li.shop-all-item {
      padding-top: 10%; } }

.category-product-carousel a.category-shop-btn {
  font-family: "franklin-gothic-urw-cond", Helvetica, sans-serif;
  padding: 15px 0px;
  background-color: #fff;
  color: #000;
  border-color: #000;
  font-size: 18px; }
  .category-product-carousel a.category-shop-btn:hover {
    background-color: #b90000;
    border-color: #b90000;
    color: #fff; }
  @media only screen and (max-width: 768px) {
    .category-product-carousel a.category-shop-btn {
      background-color: #b90000;
      color: #fff;
      border-color: #b90000; }
      .category-product-carousel a.category-shop-btn:hover {
        background-color: #000;
        border-color: #000; } }
@media only screen and (min-width: 641px) {
  .category-product-carousel {
    margin-left: 1.65% !important;
    margin-right: 1.65% !important; } }

/*------------------------------------*
   $CATEGORY HEADERS
*------------------------------------*/
.category-header-row {
  max-width: 450px;
  margin-bottom: 15px; }

.category-header-subhead-row {
  max-width: 200px;
  margin-top: 15px; }

.category-header-subhead-line {
  height: 1px;
  border-bottom: 1px solid #b90000;
  width: 100%;
  margin-top: 15%; }

.category-header-subhead {
  text-align: center;
  color: #b90000;
  font-weight: 800;
  font-family: "franklin-gothic-urw-cond", Helvetica, sans-serif;
  line-height: 1em;
  text-transform: uppercase; }

.category-header-headline {
  font-family: "franklin-gothic-urw-cond", Helvetica, sans-serif;
  font-size: 48px;
  font-weight: 800;
  line-height: 1em;
  color: #000;
  text-align: center;
  text-transform: uppercase; }
  @media only screen and (max-width: 768px) {
    .category-header-headline {
      font-size: 40px; } }

.category-header-copy {
  text-align: center;
  line-height: 22px; }

/*------------------------------------*
   $PRODUCT CAROUSEL MODULE
*------------------------------------*/
@media only screen and (min-width: 641px) {
  .prod-carousel__item-wrap {
    margin-left: 1.65% !important;
    margin-right: 1.65% !important; } }

.prod-carousel__big-img {
  position: relative;
  min-height: 130px; }
  .prod-carousel__big-img img {
    position: absolute;
    bottom: 10px; }
  @media only screen and (min-width: 480px) and (max-width: 640px) {
    .prod-carousel__big-img {
      min-height: 200px; } }
  @media only screen and (max-width: 375px) {
    .prod-carousel__big-img {
      min-height: 140px; } }

.product-carousel__thumb {
  list-style-type: none;
  margin: 0;
  padding: 0;
  height: 40px; }
  .product-carousel__thumb a {
    height: 30px;
    position: relative;
    display: block; }
  .product-carousel__thumb img {
    position: absolute;
    bottom: 0px; }
  @media only screen and (min-width: 480px) and (max-width: 640px) {
    .product-carousel__thumb {
      height: 50px;
      margin-bottom: 10px; }
      .product-carousel__thumb a {
        height: 50px; } }

.prod-carousel__item {
  padding: 0 5%; }

.product-title {
  font-family: "franklin-gothic-urw-cond", Helvetica, sans-serif;
  font-size: 0.8125em;
  font-weight: 800;
  text-align: center;
  text-transform: uppercase; }

.product-price {
  color: #b90000;
  font-size: 0.6875em;
  text-align: center; }

.owl-stage-outer {
  bottom: 0; }

.owl-next,
.owl-prev {
  position: absolute;
  width: 6px; }

.owl-next {
  top: 28px;
  right: -15px; }

.owl-prev {
  top: 28px;
  left: -15px; }

/*------------------------------------*
   $CATEGORY silhouette
*------------------------------------*/
.category-silhouette {
  background-color: #333;
  transition: all 0.5s ease; }
  .category-silhouette .row {
    max-width: 1400px; }
  .category-silhouette:hover {
    background-color: #222;
    transition: all 0.5s ease; }
    .category-silhouette:hover .category-silhouette-single-container {
      border-right: 1px solid #333; }
  @media only screen and (max-width: 1024px) {
    .category-silhouette {
      background-color: #222; } }
  @media only screen and (max-width: 768px) {
    .category-silhouette {
      background-color: #222; } }

.category-silhouette-header {
  padding-top: 5%; }
  @media only screen and (max-width: 1024px) {
    .category-silhouette-header {
      padding-top: 10%; } }
  @media only screen and (max-width: 768px) {
    .category-silhouette-header {
      padding-top: 13%; } }
  @media only screen and (max-width: 640px) {
    .category-silhouette-header {
      padding: 20px;
      border-bottom: 1px solid #333; } }

.category-silhouette-single-container {
  border-right: 1px solid #444;
  transition: all 0.3s ease;
  padding: 15px 15px; }
  .category-silhouette-single-container:hover {
    background-color: #b90000;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0 0 25px rgba(0, 0, 0, 0.6);
    -webkit-box-shadow: 0 0 25px rgba(0, 0, 0, 0.6);
    -o-box-shadow: 0 0 25px rgba(0, 0, 0, 0.6);
    transition: all 0.3s ease;
    border-right: 1px solid #333; }
  @media only screen and (max-width: 768px) {
    .category-silhouette-single-container {
      border-right: 1px solid #333; } }
  @media only screen and (max-width: 1024px) {
    .category-silhouette-single-container {
      border-right: 1px solid #333; } }
  @media only screen and (max-width: 640px) {
    .category-silhouette-single-container {
      border-bottom: 1px solid #333; } }

.category-silhouette-single-title {
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  font-family: "franklin-gothic-urw-cond", Helvetica, sans-serif;
  font-weight: 800;
  font-size: 24px; }

.category-silhouette-single-image {
  padding: 15px;
  transition: all 0.3s ease; }
  @media only screen and (max-width: 1024px) {
    .category-silhouette-single-image {
      padding: 10px; } }
  @media only screen and (max-width: 768px) {
    .category-silhouette-single-image {
      padding: 5px; } }

.category-silhouette-single-subhead {
  text-align: center;
  color: #fff;
  font-size: 14px;
  text-transform: uppercase; }

/*------------------------------------*
   $FEATURED STORIES
*------------------------------------*/
.category-feature-row {
  max-width: 1400px; }
  @media only screen and (max-width: 768px) {
    .category-feature-row {
      position: relative; } }

.category-feature-container {
  background-color: #ccc;
  width: 100%;
  padding: 25px 0px;
  background-image: url(../images/category-paper-background.jpg);
  background-position: center top; }

.category-feature {
  margin-bottom: 20px;
  transition: all 0.5s ease;
  display: flex;
  align-items: center;
  min-height: 350px; }
  .category-feature:hover {
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 0 25px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 0 25px rgba(0, 0, 0, 0.3);
    -o-box-shadow: 0 0 25px rgba(0, 0, 0, 0.3);
    transition: all 0.5s ease; }
    .category-feature:hover .category-feature-image {
      -webkit-filter: contrast(120%);
      /* Chrome, Safari, Opera */
      filter: contrast(120%);
      transition: all 0.5s ease; }
  .category-feature.black {
    background-color: #000; }
    .category-feature.black .category-feature-copy {
      color: #fff; }
    .category-feature.black a.category-shop-btn {
      background-color: #000; }
      .category-feature.black a.category-shop-btn:hover.category-shop-btn {
        border-color: #fff;
        background-color: #fff;
        color: #000; }
  .category-feature.white {
    background-color: #fff; }
    .category-feature.white .category-feature-copy {
      color: #000; }
    .category-feature.white a.category-shop-btn {
      background-color: #fff; }
      .category-feature.white a.category-shop-btn:hover.category-shop-btn {
        border-color: #000;
        background-color: #000;
        color: #fff; }

.category-feature-copy-container {
  padding: 30px 60px; }
  @media only screen and (max-width: 1024px) {
    .category-feature-copy-container {
      padding: 30px 15px; } }
  @media only screen and (max-width: 768px) {
    .category-feature-copy-container {
      text-align: center;
      padding: 15px 10px; } }

.category-feature-subhead {
  font-family: "franklin-gothic-urw-cond", Helvetica, sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 1em;
  color: #fff; }
  @media only screen and (max-width: 1024px) {
    .category-feature-subhead {
      font-size: 0.75em; } }

.category-feature-headline {
  font-family: "franklin-gothic-urw-cond", Helvetica, sans-serif;
  font-size: 48px;
  font-weight: 800;
  line-height: 1em;
  text-transform: uppercase;
  margin-bottom: 15px;
  color: #fff; }
  @media only screen and (max-width: 1024px) {
    .category-feature-headline {
      font-size: 2.5em; } }

.category-feature-copy {
  color: #fff;
  line-height: 22px; }

.category-feature-image {
  webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 350px;
  background-position: top center;
  transition: all 0.5s ease;
  -webkit-filter: contrast(100%);
  /* Chrome, Safari, Opera */
  filter: contrast(100%); }

.category-feature-button-container {
  margin-top: 45px; }
  @media only screen and (max-width: 768px) {
    .category-feature-button-container {
      margin-top: 15px; } }

.category-feature-small .category-feature-image {
  min-height: 200px; }
.category-feature-small .category-feature-headline, .category-feature-small .category-feature-subhead, .category-feature-small .category-feature-copy {
  text-align: center; }
.category-feature-small .category-feature-copy-container {
  padding: 15px 10px; }
.category-feature-small .category-feature-button-container {
  margin-top: 15px; }
