

// mixins
@mixin feature-story-color($feature-color){
	& .category-feature-subhead{
		color:$feature-color;
	}
	.category-feature-headline{
		color:$feature-color;
	}
	a.category-shop-btn{
		color:$feature-color;
		border-color: $feature-color;
	}

}

// variables
$category-row-width: 1400px;
$breakpoint-tablet-hz: "only screen and (max-width : 1024px)";
$breakpoint-tablet: "only screen and (max-width : 768px)";
$breakpoint-mobile-only: "only screen and (max-width : 640px)";
$breakpoint-mobile: 640px;
$red: #b90000;


// Fonts
$base-font-size: 16px;
$base-font: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$title-font: "franklin-gothic-urw-cond", Helvetica, sans-serif;

// Calculate em values
@function em($px, $base: $base-font-size) {
  @return ($px / $base) * 1em;
}

/*------------------------------------*
   $BASE STYLES
*------------------------------------*/
body{
	background-color:#fff;
	font-family: $title-font;
	padding:0px;
	padding:0px;
}

.js-media-query {
	height: 1px;
	width: 1px;
	display: none;
	float: left;
	@media #{$breakpoint-tablet-hz} {
		display: block;
		float: none;
	}
}
/*------------------------------------*
   $FOUNDATION OVERRIDES
*------------------------------------*/
.row {
	max-width: 75em;
	.row {
		margin: 0;
	}
}

[class*="block-grid-"] {
	@media #{$breakpoint-tablet-hz} {
		margin: 0;
	}
}

.full-width-768--push {
	@media #{$breakpoint-tablet} {
		width: 100%;
		left: 0;
	}
}
.full-width-768--pull {
	@media #{$breakpoint-tablet} {
		width: 100%;
		right: 0;
	}
}
/*------------------------------------*
   $FEATURE STORY MIXINS
*------------------------------------*/

.nf-feature{
  @include feature-story-color(#A42F26);
  .category-feature-image{
  	background-image:url(../images/category-story-test.jpg);
  }
}

.green-feature{
  @include feature-story-color(#8bac96);
    .category-feature-image{
  	background-image:url(../images/category-story-green.jpg);
  }
}

.leila-feature{
  @include feature-story-color(#f45200);
    .category-feature-image{
  	background-image:url(../images/category-story-leila.jpg);
  }
}


/*------------------------------------*
   $CATEGORY HERO
*------------------------------------*/
.category-row-full-width{
	max-width:100%;
}

.category-full-width{
	width:100%;
	position:relative;
}

header {
	margin-bottom: 15px;
}

.category-hero{
	-webkit-transform: translateZ(0);
   -moz-transform: translateZ(0);
   -ms-transform: translateZ(0);
   -o-transform: translateZ(0);
   transform: translateZ(0);

 //  -webkit-transition: all 0.25s linear;
	// -moz-transition: all 0.25s linear;
	// -ms-transition: all 0.25s linear;
	// -o-transition: all 0.25s linear;
	// transition: all 0.25s linear;

	background-image:url(http://s7d2.scene7.com/is/image/VansBrand/cat-hero-lrg-joel?wid=1440&qlt=60);
	background-size: cover;
	background-position:top center;
	background-repeat: no-repeat;
	height:500px;
	z-index:1;
	width:100%;
	@media #{$breakpoint-tablet-hz} {
		background-image:url(http://s7d2.scene7.com/is/image/VansBrand/cat-hero-medium-joel?wid=1024&qlt=60);
	}
	@media #{$breakpoint-tablet} {
		position:relative;
		height:350px;
	}
	@media only screen and (max-width: $breakpoint-mobile) {
		background-image:url(http://s7d2.scene7.com/is/image/VansBrand/cat-hero-small-joel?wid=640&qlt=60);
	}
}

.category-hero-container {
	overflow: hidden;
	&.shrink {
		.category-hero {
			// height: 150px;
			transform: scale(1.5);
		  -moz-transform: scale(1.5);
		  -webkit-transform: scale(1.5);
		  -o-transform: scale(1.5);
		  -ms-transform: scale(1.5); /* IE 9 */
		}
		@media only screen and (min-width: 769px) {
			.category-hero-text-container {
				padding-bottom: 15px;
				height: 250px;
			}
		}
	}	
}

.category-hero-text-container{
	-webkit-transform: translateZ(0);
   -moz-transform: translateZ(0);
   -ms-transform: translateZ(0);
   -o-transform: translateZ(0);
   transform: translateZ(0);
	width:100%;
	height:500px;
	position:absolute;
	top:0px;
  left:0px;
  z-index:2;
  display: flex;
  align-items: center;
  overflow:hidden;
  -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
	@media #{$breakpoint-tablet} {
		background-color:#000;
		position:relative;
		height:inherit;
		.category-hero-headline{
			font-size:48px;
			line-height: 1em;
			padding:15px 0px;
		}
		.category-hero-subhead{
			font-size:18px;
			margin-top:-5px;
		}
	}
	@media #{$breakpoint-mobile-only} {
		.category-hero-headline{
			font-size: em(30px);
			line-height: 1em;
		}
		.category-hero-subhead {
			font-size: 1em;
		}
	}
}

.category-hero-row{
	max-width: $category-row-width;
}

.category-hero-headline{
	color:#000;
	font-family: $title-font;
	font-size:64px;
	font-weight:800;
	line-height: 1em;
	text-align:center;
	width:100%;
	text-transform: uppercase;
	letter-spacing:1px;
}

.category-hero-subhead{
	color:#333;
	font-size:24px;
	line-height: 1em;
	text-align:center;
	text-transform:uppercase;
}

.category-hero-white{
	color:#fff;
	text-shadow: 1px 1px #000;
}

.category-hero-button-container{
	margin-top:15px;
	margin-bottom:20px;
	@media #{$breakpoint-tablet} {
		margin-top:30px;
	}
	@media #{$breakpoint-mobile-only} {
		margin-top:15px;
	}
}

a.category-shop-btn{
	color:#fff;
	font-family: $title-font;
	text-transform:uppercase;
	font-weight:800;
	border:2px solid #fff;
	background: rgba(0, 0, 0, 0.4);
	box-shadow:none;
	margin-bottom:0px;
	&:hover,
	&:focus {
		background-color:#000;
		border: 2px solid #000;
	}
	&.learn-btn{
		background-color:$red;
		border:1px solid $red;
		&:hover,
		&:focus {
			background-color:#000;
			border:1px solid #000;
		}
	}
}


/*------------------------------------*
   $CATEGORY SUBNAV
*------------------------------------*/

// .category-subnav-container{
// 	padding-top:15px;
// 	@media #{$breakpoint-tablet} {
// 		padding-top:15px;
// 	}
// }

.category-subnav{
	height:66px;
	padding-top: 5px;
	position:relative;
	background: rgba(255, 255, 255, 0);
	nav {
		height: 100%;
		z-index: 100;
		width: 66%;
		margin-left: 17%;
		text-align: center;
		@media only screen and (max-width: 1280px){
			margin-left: 10%;
			width: 80%;
		}
		@media only screen and (max-width: 1024px) {
			margin-left: 0;
			width: 100%;
		}
		ul {
			display: none;
			list-style-type: none;
			margin: 0;
			padding: 0;
			position: relative;
			z-index: 100;
			li {
				background: #fff;
				border-bottom: 1px solid rgba(0, 0, 0, 0.1);
				display: block;
				padding: 0.5em;
				text-align: center;
				color: #000;
				transition: all 0.25s ease;
				&:first-of-type {
					border-top: 1px solid rgba(0, 0, 0, 0.1);
				}
				a {
					color: inherit;
					cursor: pointer;
					font-family: $title-font;
					font-size: em(13px);
					font-weight: 700;
					text-decoration: none;
					text-transform: uppercase;
				}
				&:hover,
				&:active,
				&:focus,
				&.btn-find-shop {
					background: $red;
					color: #fff;
					a {
						color: inherit;
					}
				}
			}
		}
	}
}

@media #{$breakpoint-tablet-hz} {
	.category-subnav nav ul li.btn-find-shop {
		background: #fff;
		a {
			background: $red;
			color: inherit;
			padding: 0.5em 1em;
		}
	}
}

@media screen and (min-width: 1025px) {
	.category-subnav {
		height:50px;
		padding-top: inherit;
		border-top:1px solid #ccc;
		border-bottom:1px solid #ccc;	
		nav {
			ul {
				display: flex;
				justify-content: center;
				align-items: center;
				height: 100%;
				li {
					border-bottom: none;
					flex-grow: 1;
					flex-shrink: 1;
					flex-basis: auto;
					&:first-of-type {
						border-top: none;
					}
				}
			}
		}
	}
}

.subnav-logo {
	display:none;
	position: absolute;
  left: 20px;
  top: 20px;
  width: 65px;
}

.category-subnav.category-subnav-scrolled {
	background: rgba(255, 255, 255, 1);
	box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.5);
	position: fixed;
	top: 0;
	z-index: 999;
	top: -50px;
	transform: translateY(50px);
	transition: transform 500ms ease,background 500ms ease;
	-webkit-transition: transform 500ms ease,background 500ms ease;
	-moz-transition: transform 500ms ease,background 500ms ease;
	@media only screen and (min-width: 1025px ) {
		height: 60px;
		.subnav-logo {
			display: inline-block;
		}
	}
}



.mobile-btn {
  width: 95%;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.4);
	display:none;
	font-weight: 700;
	font-size: em(16px);
	text-align: center;
  background: #b90000;
  padding: 0.75em 1em;
  position: relative;
  color: #fff;
  text-transform: uppercase;
  margin-top: 4px;
  a {
  	color: inherit;
  }
  img {
  	display: inline-block;
  	width: 19px;
  	margin-left: 10px;
    margin-top: -1px;
  }
	@media only screen and (max-width: 1024px) {
		display: inline-block;
		width: 95%;
	}
}

/*------------------------------------*
   $PRODUCT GRID
*------------------------------------*/
.category-product-container{
	padding:25px 15px;
	@media #{$breakpoint-tablet-hz} {
		padding-top: 15px;
		padding-bottom: 20px;
	}
}

li.shop-all-item {
	padding-top: 5%;
	@media #{$breakpoint-tablet} {
		padding-top: 10%;
	}
	@media only screen and (max-width: 640px) {
		padding-top: 3%;
	}
}

.category-product-carousel{
	a.category-shop-btn{
		font-family: $title-font;
		padding:15px 0px;
		background-color:#fff;
		color:#000;
		border-color:#000;
		font-size:18px;
		&:hover,
		&:focus {
			background-color:$red;
			border-color: $red;
			color:#fff;
		}
		@media #{$breakpoint-tablet} {
			background-color:$red;
			color:#fff;
			border-color:$red;
			font-size: em(16px);
			&:hover,
			&:focus {
				background-color:#000;
				border-color:#000;
			}
		}
		@media only screen and (max-width: 768px) and (min-width: 641px) {
			font-size: 0.85em;
		}
		@media only screen and (max-width: $breakpoint-mobile) {
			padding-top: 0.65em;
			padding-bottom: 0.65em;
		}
	}
	@media only screen and (min-width: 641px) {
		margin-left: 1.65% !important;
		margin-right: 1.65% !important;
	}
}

.product-carousel-row > li {
	padding-left: 1%;
	padding-right: 1%;
	@media only screen and (max-width: 640px) {
		padding-left: 5%;
		padding-right: 5%;
	}
}

/*------------------------------------*
   $CATEGORY HEADERS
*------------------------------------*/
.category-header-row{
	margin-bottom:15px;
	overflow:hidden;
	max-width: 41.67em;
}

.category-header-subhead-row{
	max-width:200px;
	margin-top:15px;
	overflow:hidden;
}
.category-header-subhead-line{
	height:1px;
	border-bottom:1px solid $red;
	width:100%;
	margin-top:15%;
}

.category-header-subhead{
	text-align:center;
	color:$red;
	font-weight:800;
	font-family: $title-font;
	line-height: 1em;
	text-transform:uppercase;
}

.category-header-headline{
	font-family: $title-font;
	font-size:48px;
	font-weight:800;
	line-height: 1em;
	color:#000;
	text-align:center;
	text-transform:uppercase;
	@media #{$breakpoint-tablet} {
		font-size:40px;
	}
	@media #{$breakpoint-mobile-only} {
		font-size:36px;
	}
}

.category-header-copy{
	text-align:center;
	line-height:22px;
		@media #{$breakpoint-mobile-only} {
		font-size:15px;
	}
}

/*------------------------------------*
   $PRODUCT CAROUSEL MODULE
*------------------------------------*/

.prod-carousel__item-wrap {
	@media only screen and (min-width: 641px) {
		margin-left: 1.65% !important;
		margin-right: 1.65% !important;
	}
}

.prod-carousel__big-img {
	position: relative;
	min-height: 130px;
	img {
		position: absolute;
		bottom: 10px;
	}
	@media #{$breakpoint-tablet} {
		min-height: 110px;
	}
	@media only screen and (min-width:480px) and (max-width:640px) {
		min-height: 200px;
	}
	@media only screen and (max-width:375px) {
		min-height: 140px;
	}	
}

.product-carousel__thumb {
	list-style-type:none;
	margin: 0;
	padding: 0;
	height: 50px;
	a {
		height: 45px;
		position: relative;
		display: block;
	}
	img {
		position: absolute;
		bottom: 0px;
	}
	@media only screen and (min-width: 1281px) {
		height: 45px;
		a {
			height: 40px;
		}
	}
	@media only screen and (min-width:480px) and (max-width:640px) {
		height: 50px;
		margin-bottom: 10px;
		a {
			height: 50px;
		}
	}
}

.prod-carousel__item {
	padding: 0 5%;
}

.product-title {
	font-family: $title-font;
	font-size: em(13px);
	font-weight: 800;
	text-align: center;
	text-transform: uppercase;
}
.product-price {
	color: $red;
	font-size: em(11px);
	text-align: center;
}

// Owl Overrides
.owl-stage-outer {
	bottom: 0;
	// position: absolute;
}

// .owl-nav {
//   position: relative;
// }
.owl-next,
.owl-prev {
	position: absolute;
	width: 6px;
}
.owl-next {
	top: 40px;
	right: -15px;
}
.owl-prev {
	top: 40px;
	left: -15px;
}
@media only screen and (min-width: 1281px) {
	.owl-prev,
	.owl-next {
		top: 36px;
	}
}






/*------------------------------------*
   $CATEGORY silhouette
*------------------------------------*/

.category-silhouette{
	background-color:#333;
	transition: all 0.5s ease;
	.row{
		max-width:$category-row-width;
	}
	&:hover,
	&:focus {
		background-color:#222;
		transition: all 0.5s ease;
	.category-silhouette-single-container{
		border-right:1px solid #333;
	}
	}
			@media #{$breakpoint-tablet-hz} {
		background-color:#222;
	}
				@media #{$breakpoint-tablet} {
		background-color:#222;
	}
}


.category-silhouette-header{
	padding-top:5%;
		@media #{$breakpoint-tablet-hz} {
		padding-top:10%;
	}

		@media #{$breakpoint-tablet} {
		padding-top:13%;
	}	
		@media #{$breakpoint-mobile-only} {
		padding:20px;
			border-bottom:1px solid #333;

	}		
	
}


.category-silhouette-single-container{
	border-right:1px solid #444;
	transition: all 0.3s ease;
	padding:15px 15px;
	&:hover,
	&:focus {
		background-color:$red;
		box-shadow: 0 0 25px rgba(0,0,0,0.6);
	-moz-box-shadow: 0 0 25px rgba(0,0,0,0.6);
	-webkit-box-shadow: 0 0 25px rgba(0,0,0,0.6);
	-o-box-shadow: 0 0 25px rgba(0,0,0,0.6);
	transition: all 0.3s ease;
	border-right:1px solid #333;

	}
		@media #{$breakpoint-tablet} {
		border-right:1px solid #333;
	}
		@media #{$breakpoint-tablet-hz} {
		border-right:1px solid #333;
	}
			@media #{$breakpoint-mobile-only} {
		border-bottom:1px solid #333;
	}
}

.category-silhouette-single-title{
	text-align:center;
	color:#fff;
	text-transform:uppercase;
	font-family:$title-font;
	font-weight:800;
	font-size:24px;

}

.category-silhouette-single-image{
	padding:15px;
	transition: all 0.3s ease;
	&:hover{

	}
	@media #{$breakpoint-tablet-hz} {
		padding:10px;
	}
	@media #{$breakpoint-tablet} {
		padding:5px;
	}
}

.category-silhouette-single-subhead{
	text-align:center;
	color:#fff;
	font-size:14px;
	text-transform:uppercase;

}






/*------------------------------------*
   $FEATURED STORIES
*------------------------------------*/
.category-feature-row{
	max-width: $category-row-width;
	@media #{$breakpoint-tablet} {
		position:relative;
	}
}

.category-feature-container{
	background-color:#ccc;
	width:100%;
	padding:25px 0px;
	background-image:url(../images/category-paper-background.jpg);
	background-position:center top;
}

.category-feature{
	margin-bottom:20px;
	transition: all 0.5s ease;
	display: flex;
	align-items: center;
	&:hover,
	&:focus {
		box-shadow: 0 0 25px rgba(0,0,0,0.3);
	-moz-box-shadow: 0 0 25px rgba(0,0,0,0.3);
	-webkit-box-shadow: 0 0 25px rgba(0,0,0,0.3);
	-o-box-shadow: 0 0 25px rgba(0,0,0,0.3);
	transition: all 0.5s ease;
	.category-feature-image{
		-webkit-filter: contrast(120%); /* Chrome, Safari, Opera */
		filter: contrast(120%);
		transition: all 0.5s ease;
	}
}


	&.black{
		background-color:#000;
		.category-feature-copy{
			color:#fff;
		}
		a.category-shop-btn{
			background-color:#000;
			&:hover.category-shop-btn{
				border-color:#fff;
				background-color:#fff;
				color:#000;
			}
		}
	}
	&.white{
		background-color:#fff;
		.category-feature-copy{
			color:#000;
		}
		a.category-shop-btn{
			background-color:#fff;
			&:hover.category-shop-btn{
				border-color:#000;
				background-color:#000;
				color:#fff;
			}
		}
	}
}

.category-feature-copy-container{
	padding:30px 60px;
	@media #{$breakpoint-tablet-hz} {
		padding: 30px 15px;
	}
	@media #{$breakpoint-tablet} {
		text-align:center;
		padding:15px 10px; 
	}
}

.category-feature-subhead{
	font-family: $title-font;
	font-weight:400;
	text-transform:uppercase;
	letter-spacing:1px;
	line-height: 1em;
	color:#fff;
	@media #{$breakpoint-tablet-hz} {
		font-size: em(12px);
	}
}

.category-feature-headline{
	font-family: $title-font;
	font-size:48px;
	font-weight:800;
	line-height: 1em;
	text-transform:uppercase;
	margin-bottom:15px;
	color:#fff;
	@media #{$breakpoint-tablet-hz} {
		font-size: em(40px);
	}
}

.category-feature-copy{
	color:#fff;
	line-height:22px;
}

.category-feature-image{
	min-height:1px;
	webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	// align-items: stretch;
	background-position:top center;
	transition: all 0.5s ease;
	-webkit-filter: contrast(100%); /* Chrome, Safari, Opera */
	  filter: contrast(100%);
	height: 100%;
	  	@media #{$breakpoint-mobile-only} {
		min-height:250px;
	}
}

.category-feature-button-container{
	margin-top:45px;
	@media #{$breakpoint-tablet} {
		margin-top:15px;
	}
}

.category-feature-small{
	.category-feature-image{
		min-height:200px;
	}

	.category-feature-headline, .category-feature-subhead, .category-feature-copy{
		text-align:center;
	}

	.category-feature-copy-container{
		padding:15px 10px;
	}

	.category-feature-button-container{
		margin-top:15px;
	}
}

















